<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOASchedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<body>
    <nav class="navbar sticky-top" style="background-color: #182e3d;">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">
            <img src="../public/images/LostArk_icon.png" alt="Logo" width="40" class="d-inline-block align-text-top">
            LOA Scheduler
          </a>
          <form class="d-flex" role="Login">
            <a href="/login">
              <button class="btn btn-outline-success" type="button">Login</button>
            </a> 
            
          </form>
        </div>
    </nav>

    <div>
      <h3 style="text-align: cneter;">패치 내역</h3>
    </div>
    <div>
      <ul>
        <li>23.03.01 추천 입찰가 , 패치노트 추가</li>
        <li>23.02.16 최초 배포</li>
      </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
      
</body>
</html>