<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOASchedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="/public/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<body>
    <nav class="navbar sticky-top" style="background-color: #182e3d;">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">
            <img src="../public/images/LostArk_icon.png" alt="Logo" width="40" class="d-inline-block align-text-top">
            LOA Scheduler
          </a>
          <form class="d-flex" role="logout">
            <a href="/logout">
              <button class="btn btn-outline-success" type="button">Logout</button>
            </a>
          </form>
        </div>
    </nav>

    <p class="mt-2 ms-3"><%=사용자.id %>의 페이지 </p>
    
    

    <!-- 스케쥴 체크 부분 -->
    <div>
      <form action="/main" method="post">
        <table id="Schedule" class="table table-hover" >
          <thead>
            <tr>
              <th scope="col">캐릭터 명</th>      <!-- 열 -->
              <th scope="col">오레하</th>
              <th scope="col">아르고스</th>
              <th scope="col">카양겔</th>
              <th scope="col">볼다이크</th>
              <th scope="col">발탄</th>
              <th scope="col">비아키스</th>
              <th scope="col">쿠크세이튼</th>
              <th scope="col">아브렐슈드</th>
              <th scope="col">일리아칸</th>
            </tr>
          </thead>
          <tbody>
            <tr id="character0" class="character0" onclick="getCheckedCnt(this)">
              <td scope="row"><input type="text" maxlength="12" name="charName" placeholder="캐릭터 명 입력"></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div>
      <form action="/main" method="POST">
        <button type="button" value="행추가" onclick="addRow()" class="button_plus"></button>   <!-- 버튼 클릭시 1행 추가 -->
        <div>
          <button type="button" class="btn btn-danger mt-2" onclick="save()">저장</button>   <!-- 버튼 클릭시 저장-->
        </div>
      </form>
    </div>

    <script>  

      //서버에서 받은 유저 데이터
      let uData1 = '<%- userData %>';
      let uData = JSON.parse(uData1);
      console.log(JSON.stringify(uData) + "\n" +" ");
      let userData = uData[0];
      console.log(userData.schedule);      

      // 행 삽입 기능
      let rowCnt = 0;   // tr class 변수    
      function addRow(){    //행 추가 기능
        
        const table = document.getElementById("Schedule");  // table element 찾기
        const newRow = table.insertRow();   // 새 행 추가

        rowCnt++;
        //console.log(newRow)
        newRow.setAttribute('id', 'character'+rowCnt);
        newRow.setAttribute('class', 'Character'+rowCnt);  // 행 class 추가 , querySelector 사용하기 위해 최소한의 문자 한개가 필요
        newRow.setAttribute('onclick', 'getCheckedCnt(this)');  // 행 클릭시 함수


        const newColumn0 = newRow.insertCell(0);  // 열 추가

        newColumn0.innerHTML = '<td scope="row"><input type="text" maxlength="12" name="charName" placeholder="캐릭터 명 입력"></td>';
        rowTest(rowCnt);
        
      }

      // 유저 정보 서버에서 가져와서 테이블 만들기
      let showRowTable = userData.schedule.charName.length -1; // 표현해야 하는 행 수
      let dbCharName = userData.schedule.charName;              // 유저 캐릭 정보
      function firstLoading(obj){
        const table = document.getElementById("Schedule");  // table element 찾기
        let p1 = document.querySelector("#character0");
        if(dbCharName[0] != null){
          p1.querySelector("input[name = 'charName']").setAttribute('value', dbCharName[0]);
        }
        
        //1. 행 생성 후 캐릭 이름 넣어주기
        for(i=1; i<obj+1; i++){
          const newRow = table.insertRow();   // 새 행 추가
          rowCnt++;
          newRow.setAttribute('id', 'character'+rowCnt);
          newRow.setAttribute('class', 'Character'+rowCnt);  // 행 class 추가 , querySelector 사용하기 위해 최소한의 문자 한개가 필요
          newRow.setAttribute('onclick', 'getCheckedCnt(this)');  // 행 클릭시 함수
          const newColumn0 = newRow.insertCell(0);  // 열 추가
          newColumn0.innerHTML = '<td scope="row"><input type="text" maxlength="12" name="charName" placeholder="캐릭터 명 입력" ></td>';
          let parent = document.querySelector("#character"+i);
          parent.querySelector("input[name = 'charName']").setAttribute('value', dbCharName[i]);
          rowTest(rowCnt);
        }
        
        //2. 체크된 체크박스 확인
        let chked = userData.schedule.id;
        console.log(chked);
        for(i=0; i<obj+1; i++){
          
        }
        //3. 체크박스 체크 넣어주기

      }
 
      // 테이블에 변수 요인 넣기 (rowCnt)
      function rowTest() {
        let html = "<td><input type='checkbox' id='오레하_" + rowCnt + "' name='오레하_" + rowCnt + "' value='오레하' onclick='getCheckedCnt(this)'></td>";
        html += "<td><input type='checkbox' id='아르고스_" + rowCnt + "' name='아르고스_" + rowCnt + "' value='아르고스' onclick='getCheckedCnt(this)'></td>";
        html += "<td><input type='checkbox' id='카양겔" + rowCnt + "' name='카양겔" + rowCnt + "' value='카양겔' onclick='getCheckedCnt(this)'></td>";
        html += "<td><input type='checkbox' id='볼다이크" + rowCnt + "' name='볼다이크" + rowCnt + "' value='볼다이크' onclick='getCheckedCnt(this)'></td>";
        html += "<td><input type='checkbox' id='발탄_" + rowCnt + "' name='군단장_" + rowCnt + "' value='발탄' onclick='getCheckedCnt(this)'></td>";
        html += "<td><input type='checkbox' id='비아키스_" + rowCnt + "' name='군단장_" + rowCnt + "' value='비아키스' onclick='getCheckedCnt(this)'></td>";
        html += "<td><input type='checkbox' id='쿠크세이튼_" + rowCnt + "' name='군단장_" + rowCnt + "' value='쿠크세이튼' onclick='getCheckedCnt(this)'></td>";
        html += "<td><input type='checkbox' id='아브렐슈드_" + rowCnt + "' name='군단장_" + rowCnt + "' value='아브렐슈드' onclick='getCheckedCnt(this)''></td>";
        html += "<td><input type='checkbox' id='일리아칸_" + rowCnt + "' name='군단장_" + rowCnt + "' value='일리아칸' onclick='getCheckedCnt(this)''></td>";
        $("#character" + rowCnt).append(html);
      }


      // 체크박스 갯수 확인, 행 기준으로 군단장이 4개이상 선택 불가해야함

      // name="군단장_" 을 가진 모든 체크박스를 가지고 와서 그 길이 만큼 for문 돌면서 체크 카운트 계산하고 계산한 체크 카운트 개수가
      // 4개 이상이면 5개째 체크한 체크박스 체크 해제
      function getCheckedCnt(obj) {
        let chkObj = document.getElementsByName(obj.name);
        let chkCnt = 0;
        for(let i=0; i<chkObj.length; i++){
            if(chkObj[i].checked){
                chkCnt++;
            }
        }
        if(chkCnt>3){
            alert("4개 이상입니다.");
            $("#" + obj.id).prop("checked", false);
            return false;
        }
}

      // 행 클릭시 행 값 출력 함수
      function rowClick(){
        let table = document.getElementById('Schedule');
        let rowList = table.rows;

        for(i=1; i<rowList.length; i++){
          let row = rowList[i];
          let str = "";

          row.onclick = function(){
            return function(){
              let characterName = this.cells[0].innerHTML;  // 직업 이름

              str = "직업 : " + characterName + " ";
              document.querySelectorAll('.check').innerHTML = str;
            };
          }(row)
        }

      }

      // window.onload는 해당 함수 내의 스크립트 코드가 웹 브라우저 내의 모든 요소가 준비되고 난 후 실행될 수 있도록 하는 함수
      window.onload = function() {
        rowClick();
        rowTest();
        firstLoading(showRowTable);
      };

      // 유저 데이터 저장
      function save() {
        let charData = {
          charName: [],
          id: [],
          name: []
        }
        const cName = document.querySelectorAll("input[name='charName']");
        cName.forEach(function (cn){
          charData.charName.push(cn.value);
        })
        const chkList  = document.querySelectorAll("input[type='checkbox']:checked");
        chkList.forEach(function (ch) {
          charData.id.push(ch.id);
          charData.name.push(ch.name);
        });
        let jCharData = JSON.stringify(charData);
        console.log("json화 : "+ jCharData);
        
        $.ajax({
          method : 'POST',
          url : '/main',
          contentType: 'application/json',
          data: jCharData,
          success : function(결과){
            alert("저장완료");
          },
          error : function(e){
          }
        })
        
      }


    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>